<p-table [value]="match">
	<ng-template pTemplate="header">
		<tr>
			<th>Name</th>
			<th>Amount</th>
			<th>Team</th>
			<th>Payment Method</th>
			<th>Ratio</th>
			<th>Number</th>
			<th>Winning Amount</th>
			<th>Paid</th>

		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-match>
		<tr>
			<td>{{match.name}}</td>
			<td>{{match.amount}}</td>
			<td>{{match.team}}</td>
			<td>{{match.paymentmethod}}</td>
			<td>{{match.ratio}}</td>
			<td>{{match.number}}</td>
			<td>{{match.winningAmount}}</td>
			<td>{{match.paid}}</td>
		</tr>
	</ng-template>
	<ng-template pTemplate="footer">
		<tr>
			<td colspan="6">Totals</td>
			<td>$506,202</td>
			<td>$531,020</td>
		</tr>
	</ng-template>
</p-table>